@page
@model RegisterModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-white fw-bold">Đăng ký</h2>
            <hr class="text-white editHr" size="10px" />
            <h3 class="text-white">Điền thông tin để tạo một tài khoản mới.</h3>
            <hr class="text-white editHr" size="10px" />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="text" />
                <label asp-for="Input.UserName">UserName</label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" autocomplete="fullName" aria-required="true" placeholder="text" />
                <label asp-for="Input.FullName">UserName</label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Mật khẩu</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Xác nhận mật khẩu</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p class="text-white">Ảnh đại diện</p>
                <label>
                    <input asp-for="Input.Avatar" type="radio" value="0" checked/>
                    <img src="~/images/icons/avatar1.png" alt="avatar 0"/>
                </label>
                    <label>
                    <input asp-for="Input.Avatar" type="radio" value="1" checked/>
                    <img src="~/images/icons/avatar2.png" alt="avatar 1"/>
                </label>
                <label>
                    <input asp-for="Input.Avatar" type="radio" value="2" checked />
                    <img src="~/images/icons/avatar3.png" alt="avatar 3" />
                </label>
                <label>
                    <input asp-for="Input.Avatar" type="radio" value="3" checked />
                    <img src="~/images/icons/avatar4.png" alt="avatar 3" />
                </label>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Đăng ký</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3 class="text-white">Sử dụng dịch vụ khác để đăng nhập.</h3>
            <hr class="text-white editHr" size="10px" />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
